.card{
  width: 20rem;
  height: 30rem;
}


.col-lg-3{
    width: 25%;
    min-width: 20rem;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #aaa;
    text-align: center;
}
.col-lg-3 img {
    max-width: 100%;
}
.img-container {
    display: inline-block;
    position: relative;
}
.positioning{
   position: absolute;
right: 50%;
transform: translate(-50%);
bottom: 6rem;
color:
black;
padding: 4px;
font-size: 17px;
line-height: 18px;
left: 50%;
min-width: 200px;
display: block;
}
