.card{
  width: 20rem;
  height: 30rem;
}


.col-lg-3{
    width: 25%;
    min-width: 20rem;
    float: left;
    position: relative;
    min-height: 1px;
    /* background-color: #aaa; */
    text-align: center;
    border-radius: 4px;
}
.col-lg-3 img {
    max-width: 100%;
}
.img-container {
    display: inline-block;
    position: relative;
}
.positioning{
  position: absolute;
right: 50%;
transform: translate(-50%);
bottom: 4rem;
left: 50%;
min-width: 250px;
min-height: 75px;
}

.image-positioning{
  position: absolute;
  top: 25px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}

.epic-positioning{
  position: absolute;
  top: 10px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}

.epic-text-color{
  color: lightgray;
}
.commonName{
  padding-bottom: 2rem;
  color: green;
}

.epicName{
  padding-bottom: 3rem;
  color: purple;
}

.rareName{
  padding-bottom: 1.5rem;
  color: blue;
}

.legendaryName{
  padding-bottom: 1.5rem;
  color: orange;
}