:root {
  --rare-color: cyan;
  --rare-background: lightblue;
  --common-color: gray;
  --common-background: lightgray;
  --legendary-color: orangered;
  --legendary-background: #f2856e;
  --uncommon-color: green;
  --uncommon-background: lightgreen;
  --epic-color: purple;
  --epic-background: violet;
}

.card-container{
  /* display: flex;
  flex-direction: column; */
}

.buy-card-container{
  /* width: 70%; */
}

.name{
  max-height: 2em;
}

.Rare-tag{
  color: var(--rare-color);
  font-size: 0.7em;
  
}

.Legendary-tag{
  color: var(--legendary-color);
  font-size: 0.7em;

}
.Uncommon-tag{
  color: var(--uncommon-color);
  font-size: 0.7em;

}
.Common-tag{
  color: var(--common-color);
  font-size: 0.7em;

}

.Epic-tag{
  color: var(--epic-color);
  font-size: 0.7em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  top: 50%;
}

.Epic-background{
   background-color: var(--epic-background);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.Rare-background {
  background-color: var(--rare-background);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.Uncommon-background {
  background-color: var(--uncommon-background);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.Common-background {
  background-color: var(--common-background);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.Legendary-background {
  background-color: var(--legendary-background);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.card .card__face img {
  width: inherit;
  height: inherit;
  object-fit: initial;
  border-radius: 40px;
}

.type {
  color: black;
  font-size: 1em;
  z-index: 100;
  /* position: absolute;
  right: 50%;
  transform: translate(50%, -50%); */
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
  z-index: 100;
}

.scene {
  width: 200px;
  height: 260px;
  /* border: 1px solid #ccc; */
  margin: 40px 20px;
  perspective: 600px;
}

.card {
  /* margin: 30px auto; */
  cursor: pointer;

  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25), -1px -1px 20px 2px rgba(0, 0, 0, 0.22);
  border-radius: 40px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 40px;
}

.card__face--front {
  /* background: red; */
  /* border-radius: 40px; */
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
  /* border-radius: 40px; */
}
