header {
  width: 100%;
  height: 8em;
  background-color: #211510;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  width: 40%;
  height: auto;
  padding: 2em;
}
.logo {
  max-width: 100%;
  height: auto !important;
}


.fab {
  color: gold;
  font-size: 40px;
  cursor: pointer;
  transform: translate(75px);
}

.fab:hover {
  color: orange;
}

header ul li a {
  text-decoration: none;
  color: gold;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Blippo, fantasy;
  cursor: pointer;
}

header .menu {
  font-size: 2.5em;
  display: none;
}
header .menu {
  font-size: 2.5em;
  display: none;
}




.dropdown-content {
  background-image: linear-gradient(to bottom left, #620000, brown);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 6, 0.8);
  border-radius: 8px;
  text-align: center;
  position: absolute;
  right: 10px;
  font-size: 10px;
  padding: 5px;
  z-index: 100;

}

.dropdown-content a:hover {
 cursor: pointer;
  color: orange;
}
.dropdown-content {
  display: block;
}
.hide-me {
  display: none;
}

.hamburger{
  color: gold;
  font-size: 1rem;
    margin-right: 1em;

}

.dropdown-container{
  height: 2em;
}

.SessionButton:hover a {
  cursor: pointer;
  color: orange;
}



.userProfile {
  color: gold;
  font-family: Blippo, fantasy;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
}
.userProfile:hover {
  color: orange;
}

.SessionButton {
  color: gold;
  font-family: Blippo, fantasy;
  font-weight: 800;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
}

.userProfile {
  font-size: 10px;
}
.userProfile:hover {
  font-size: 10px;
}




.dropdown-container {
  display: none;
}




@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    height: auto;
    background-size: 100% auto !important;
  }

  .dropdown-container{
    display: block;
  }
}