header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
    box-shadow: 0 0 10px #000;
    background: white;
}
header .logo{
    flex: 1;
    color: #222;
    text-shadow: 0 0 2px #000;
    margin-left: 50px;
}


header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}