.scroll {
  /* min-width: 600px; */
  width: 60%;
  min-height: 900px;
  text-align: center;
}

.scroll-image {
  z-index: 0;
  max-width: 1000px;
  min-height: 800px;
  position: absolute;
  /* left:50%; */
  top: 50%;
  right: 50%;
  transform: translate(43%, -50%);
}

.congrats {
  color: black;
  font-style: Trattatello, fantasy;
  font-size: 24px;
  font-weight: 700;
  transform: translate(85px, 100px);
}

.BuyAlert {
  transform: translate(75px, -43px);
  height: 30px;
  background-image: linear-gradient(to bottom left, #c22a0cfd, brown);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #ffbe33;
}

.BuyAlert:hover {
  color: #fbe148;
  transition: color 0.25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  cursor: pointer;
}
