.about-us-container{
    font-family: Muli,sans-serif;
    
}

.about-us-container ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us-container ul>li{
    max-width: 300px;
    margin: 20px;
    background-color: #211510;
    padding: 20px;
    color: white;
    box-shadow: 5px 10px 5px black;
    font-family: Muli,sans-serif;
}

.about-us-container ul>li>img {
    width: 200px;
    height: 210px;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    border: 8px solid #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.about-us-container ul>li>p>a:hover{
    color: #fcd700;
}

.team-name{
    color: #fcd700;
}
.teamh2{
    margin-left: 50px;
    font-size: 35px;
    margin-top: 20px;
}

.details{
    margin-top: 10px;
}

.personal{
    margin-top: 20px;
}
