.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.571);
  z-index: 100;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .loginForm, .signupForm {
    width: 375px;
    min-height: 550px;
    background-size: cover;
  }
  .loginFields {
    top: 8em;
  }
  .signupFields {
    top: 6em;
  }
  .scroll-image {
    max-width: 400px;
    min-height: 600px;
    transform: translate(50%, -50%);
  }
  .congrats {
    transform: translate(2%, 75vw);
    width: 250px;
  }
  .handShake {
    top: 85vw;
    right: 0vw;
    width: 280px;
    height: 180px;
  }
  .deal {
    top: 70vw;
    left: 15vw;
  }
}