

/*-------------------Responsive------------------*/
@media (max-width: 600px) {
  .single-card-container {
    max-width: 12rem;
    max-height: 15rem;
  }
  #item-1,#item-3{
    display: none;
  }
}
/* 
@media (max-width: 1200px) {
  .content h2 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  section .photo {
    position: relative;
    max-width: 1000px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
  section .content {
    width: 100%;
    padding: 20px;
    position: relative;
  }
  header ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: whitesmoke;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }
  header .menu {
    display: block;
    width: 100px;
    text-align: center;
  }
  #chk1:checked ~ ul {
    right: 0;
  }
}
 */


/*-------------------css------------------*/


body h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
}

section {
  min-height: 100vh;
  position: relative;
}

#top-section {
  background: url("../../app/assets/background3.jpg") no-repeat center/cover;
}

#top-section-title {
  text-align: center;
}

#bottom-section {
  background: url("../../app/assets/background.jpg") no-repeat center;
  padding: 5em;
}

#welcome-page-information {
  text-align: center;
}

.front {
  background: url("../../app/assets/frame_wood.png") no-repeat center;
}

.cards-container{
  margin: 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.single-card-container {
  background-image: radial-gradient(circle, #ffe786bf, #f06b0690);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  width: 25rem;
  z-index: 2;
  border-radius: 40px;
  height: 30rem;
}

.monster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}



body {
  margin: 0;
}