* {
  font-family: "Caesar Dressing", cursive;
}

/*-------------------Responsive------------------*/
@media (max-width: 600px) {
  .single-card-container {
    max-width: 25rem;
    max-height: 35rem;
  }
  #item-1,
  #item-3 {
    display: none;
  }

}

@media(max-width: 800px){
    #welcome-page-information h2{
    font-size: 3rem !important;
  }
  #top-section-title h2 {
    font-size: 3rem !important;
  }
}

/*-------------------css------------------*/

body h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  list-style: none;
}

#welcome-page-information h2 {
  font-size: 5rem;
  margin-bottom: 25px;
}
#welcome-page-information p {
  font-size: 2rem;
  word-wrap: break-word;
  line-height: 3rem;
}

#welcome-page-information a {
  margin-top: 30px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section {
  min-height: 84vh;
  position: relative;
}

#top-section {
  background: url("../../app/assets/background3.jpg") no-repeat center/cover;
  padding: 2rem;
}
#top-section-title h2{
  font-size: 5rem;
}

#top-section-title {
  text-align: center;
  margin-bottom: 7rem;
}

#bottom-section {
  background: url("../../app/assets/background.jpg") no-repeat center;
  padding: 5em;
}

#welcome-page-information {
  text-align: center;
  /* padding: 5rem 20rem 5rem 20rem; */
}


.front {
  background: url("../../app/assets/frame_wood.png") no-repeat center;
}

.cards-container {
  margin: 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.single-card-container {
  background-image: radial-gradient(circle, #ffe786bf, #f06b0690);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  width: 25rem;
  z-index: 2;
  border-radius: 40px;
  height: 30rem;
}

.monster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

body {
  margin: 0;
}

.goto-next{
		border: 0;
		bottom: 0;
		display: block;
		height: 5em;
		left: 50%;
		margin: 0 0 0 -5em;
		overflow: hidden;
		position: absolute;
    color: white;
    padding-bottom: 15px;
		white-space: nowrap;
		width: 10em;
		z-index: 1;
}

.goto-next:before {
			background-image: url("arrow.svg");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 1.5em;
			left: 50%;
			margin: -0.75em 0 0 -1em;
			position: absolute;
			top: 50%;
			width: 2em;
			z-index: 1;
    }
    
    .market{
      display: flex;
      justify-content: center;
    }

    .market>h1{
      display: flex;
      align-items: center;
      font-size: 50px;
    }

    .currency{
      display: flex;
      align-items: center;
      font-size: 25px;
      color: gold;
    } 