.user-profile-container h1 {
  color: black;
  
}
.user-profile-container {
  background-image: url(../../app/assets/war_background.jpg);
    width: auto;
    min-height: 1024px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.sell{
    height: 30px;
    background-image: linear-gradient(to bottom left, #c22a0cfd, brown);
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    color: #ffbe33;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 10px);
    top: 430px;
}

.sell-container{
   width: 25%;
    min-width: 20rem;
    float: left;
    position: relative;
    min-height: 1px;
    /* background-color: #aaa; */
    text-align: center;
    border-radius: 4px;
}

.sell:hover {
  color: #fbe148;
  transition: color 0.25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  cursor: pointer;
}


.coin {
    height: 70px;
    width: 70px;
    margin-left: 50px;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}


.profileContent {
    /* margin: 0 2% 0 2%; */
    display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 20px;
}
/* 
.otherUsers {
    margin-top: 42px;
    font-weight: 700;
    height: 1%;
} */

/* .minions {
    height: 100%;
} */

.userToAttack{
   height: 365px;
width: 300px;
background-image: url(https://pluspng.com/img-png/crossed-swords-png-hd-crossingswords-png-554.png);
background-size: cover;
background-position: center;
background-color:
rgba(148, 11, 11, 0);
border-radius: 42px;
font-size: 42px;
font-weight: 700;
margin-bottom: 75px;
border: none;
cursor: pointer;
box-shadow: 1px 1px 20px 2px
rgba(0, 0, 0, 0.25), -1px -1px 20px 2px
rgba(0, 0, 0, 0.22);
margin-right: 30px;
overflow: hidden;
}
.userToAttack:hover {
    background-color: rgba(182, 7, 7, 0.342);
    cursor: pointer;
       box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25),
    -1px -1px 20px 2px rgba(240, 12, 12, 0.589);
}


 .profile>h1{
      display: flex;
      align-items: center;
      font-size: 35px;
    }

.money{
    display: flex;
    align-items: center;
    /* font-weight: 800; */
    font-size: 25px;
    color: gold;
} 
