.vs {
    background-image: url(../../app/assets/war_background.jpg);
    width: auto;
    min-height: 1024px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 
.vs{
    height: 2000px;
    width: 350px;
    margin-left: 37%;
    padding: 10px;
    background-image: linear-gradient(to bottom left, #620000d2, rgba(34, 6, 6, 0.815));
    min-height: 4500px;
    box-shadow: 10px 10px 120px 15px rgba(90, 6, 6, 0.15),
    -5px -5px 30px 15px rgba(187, 4, 4, 0.22);
 
}
*/ 

.textLog { 
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;    
}

.versusNames {
    /* display: flex; */
    text-align: center;
    height: fit-content;
    margin-top: 5%;
    background-image: linear-gradient(to top left, #e1bc8d, #a66c39);
    box-shadow: 0px 0px 20px 5px #e1bd8d75;
    border: solid 0.5px #aa703a;
    padding: 5px;
    border-radius: 10px;
    color: rgb(235, 226, 203);
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 40px;
    
}

.leftLog {
      background-image: linear-gradient(to bottom right, #632917, rgba(34, 6, 6, 0.924));
      box-shadow: 0px 20px 20px 15px #641d0871;
      padding: 15px;
      border-radius: 20px;
      color: #dad8bf;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 40px;
}

.rightLog {
      background-image: linear-gradient(to bottom right, #632917, rgba(34, 6, 6, 0.915));
      box-shadow: 0px 20px 20px 15px #641d0871;
      padding: 15px;
      border-radius: 20px;
      color: #dad8bf;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 40px;
}


/* Back to Profile Button transition begin */
#back-profile-link{
  margin-top: 0;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  margin: 5px;
  text-align: center;
}

#back-profile-text{
  cursor: pointer;
  display: inline-block;
  position: relative;

}

#back-profile-text:after {
  content: '<<Back to Profile>>';
  position: absolute;
  opacity: 1;
  top: 0;
 cursor: pointer;
  display: inline-block;
  position: relative;
}

#back-profile-link:hover{

  color: black;
  text-shadow: 0px 0px 11px gold;
}

#back-profile-link:hover #back-profile-text:after {
    content: ">>Back to Profile<<";
  opacity: 1;
  right: 1;
}
/* end here */

.vs-minions{
    display: flex;
    justify-content: space-evenly;
    
}

.vs-minion1-img, .vs-minion2-img{
    width: 30%;
    height: 70%;
}

.vs-img{
    width: 10%;
    height: 10%;
    padding-top: 5%;
}

.leftLog, .rightLog{
    overflow: auto;
    max-height: 75vh;
    width: 25%;
}

.midLog{
    width: 35%;
}
.vsTurns{
    text-decoration: underline;
    text-align: center;
    /* position: absolute; */
}

/* Scrollbar css */
.leftLog::-webkit-scrollbar, .rightLog::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}

.leftLog::-webkit-scrollbar-track, .rightLog::-webkit-scrollbar-track{
    border-radius: 20px;
}

.leftLog::-webkit-scrollbar-thumb, .rightLog::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 20px;
}


/* end */